*{
	padding: 0px;
	margin:0px;
}
body{
	background-color: #1E90FF;
}
header{
	background: #0040ff;
}

.tableros{
	background: #66b3ff;
	border: 1px solid #66b3ff;
	border-radius: 3px;
	font-family: sans-serif;
	font-size: 14px;
	float: left;
	width: 100px;
	height: 30px;
	margin-left: 10px;
	margin-top: 12px;
	
}
.tableros i, .tableros p{
	display: inline-block;
	padding-left: 6px;
	text-align: center;
	color: white;
	padding-top: 6px;
	
}
.lens{
	background: #66b3ff;
	border:1px solid #66b3ff;
	border-radius: 3px;
	width: 160px;
	height: 30px;
	margin-left: 40px;
	display: inline-block;
	margin-top: 12px;
	float: left;
}
.lens i{
	display: inline-block;
	padding-left: 120px;
	color: white;
	padding-top: 6px;
}
.logo1 {
	display: inline-block;
	margin-top: 12px;
	margin-left: 250px;
}
.plus{
	display: inline-block;
	position: relative;
	left: 620px;
	color: white;
	background: #66b3ff;
}
.information{
	display: inline-block;
	position: relative;
	left: 630px;
	color: white;
	background: #66b3ff;
}
.bell{
	display: inline-block;
	position: relative;
	left: 640px;
	color: white;
	background: #66b3ff;
}
h2{
	color: white;
	position: relative;
	top: 20px;
}

#btnAdd{
	margin-top:30px;
	padding-left: 20px;
	border-radius: 4px;
	background:blue;
	border-style: none;
	height: 25px;
	width: 100px;
	margin-left: 10px;
}
